* {
	box-sizing: border-box;
}
.bio{
	border: solid blue 3px;
	padding-left: 20px;
	background-color: grey;
}
.title{
	width: 60%;
	padding-left: 3rem;
}
.link{
	padding-left: 3rem;
	padding-right: 2rem;
	left: 50px
}